html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet",href="/css/main.css")
    body
        include headerNav.pug
        //block : layout 의 명령어 -> content 로 명명된  퍼그를 포함시키겠다.
        block content

